<div class="row">
  <div class="col-md-10">
    <% flash.each do |message_type, message| %>
       <div class="alert alert-<%= message_type %>"><%= message %>
          <a cass="close" data-dismiss="alert">&#215;</a>
         
       </div>
       <%end%>
  </div>
</div>